/* In your CSS file */
/* .custom-modal-backdrop {
    background-color: rgba(0, 0, 0, 0); 
  }
  
  .custom-modal-dialog {
    background-color: rgba(0, 0, 0, 0);
  } */
  
  .custom-modal-content {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent content background */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow to improve readability */
  }
  