body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.fixed-top-div {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1050;
  min-height: 50px;
  height: auto;
  background-color: #f5fbff;
}

header {
  position: fixed;
  top: 50px; /* This should be the height of the fixed div */
  width: 100%;
  z-index: 1030;
  /* Bootstrap primary blue */
}

.navbar {
  justify-content: space-between; /* Space between logo and button */
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-nav {
  margin: 0 auto; /* Center the nav items */
  gap: 20px;
}

.header-style {
  color:#727272 !important;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  padding: 0px 0px 0px 0px;
  font-family: "Poppins", sans-serif;
  position: relative;
  text-transform: capitalize;
}

.header-style:hover {
  color: #d1d1d1;
}

.btn-outline-light {
  color: white;
  background-color: #009DFF;
  border-color: white;
}

.btn-outline-light:hover {
  color:#009DFF;
  background-color: white;
  border-color: #009DFF;
}

.bg-blue {
  background-color: #9ab9da; /* Bootstrap primary blue */
}

.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  background-color: #fff;
  color: black;
}

.navbar-nav .dropdown:hover .nav-link {
  color: #727272;
}

@media (max-width: 576px) {
  .navbar .navbar-collapse {
    margin-right: 0;
    position: relative;
    top: 20px;
  }
}

.navbar-toggler {
  background-color: #007bff; /* Blue color */
  border: none; /* Remove border if necessary */
}

.navbar-toggler-icon {
  background-image: none; /* Remove default background image */
}

.navbar-toggler::before {
  
  font-family: "Font Awesome 5 Free"; /* Adjust based on your icon library */
  color: #fff; /* White color for the icon */
}

.navbar-nav .dropdown-menu {
  display: none; /* Hidden by default */
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}
